.big-title-large {
  font-size: 56px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -0.25px;
}

.big-title-medium {
  font-size: 26px;
  font-weight: 700;
  line-height: 32.2px;
  letter-spacing: -0.25px;
}

.big-title-small {
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
}

.display-large {
  font-size: 57px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.25px;
}

.display-medium {
  font-size: 45px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0px;
}

.display-small {
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0px;
}

.headline-large {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0px;
}

.headline-medium {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
}

.headline-small {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
}

.title-large {
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
}

.title-medium {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.title-small {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.body-large {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.body-medium {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.body-small {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.2px;
}

.label-large {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.label-medium {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.label-small {
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.5px;
}
